<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    

    <div class="two-column">
        <% for (let meal of meals) { %>
            <div class="meal-card">
                <img src="<%= meal.image %>">
                <h3><%= meal.title %></h3>
                <strong style="font-size:.85rem;color:#555;">Top ingredients</strong>
                <ul>
                    <% if (meal.extendedIngredients && meal.extendedIngredients.length > 0) { %>
                        <% for (let ingredient of meal.extendedIngredients) { %>
                            <li>
                                <%= ingredient.amount %> 
                                <%= ingredient.unit %> 
                                of <%= ingredient.name %>
                            </li>
                        <% } %>
                    <% } else { %>
                        <li>No ingredients available</li>
                    <% } %>
                </ul>
                
                <% if (meal.instructions) { %>
                    <strong style="font-size:.85rem;color:#555;">Instructions</strong>
                    <p style="font-size:.8rem;color:#555;">Ready in <%=meal.readyInMinutes%> minutes </p>
                    <div id="instructions"><%-meal.instructions%></div>
                <% } %>
            </div>
        <% } %>
    </div>
    <footer>
        <%- include("partials/foot.ejs")%>
    </footer>
</body>
</html>